// COLOR PALETTE BARBIE
$brand-grdientlinear-gradient:(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


